*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  color:rgb(117, 6, 6);
}
.card{
  background-color: rgb(210, 179, 183);
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
.nav{
  background-color: blueviolet;
  padding: 20px;
}
h3,h1{
  color:black;
  padding: 10px;
  
}