*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif ;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
.parent{
  display: flex;
  flex-wrap: wrap;
}
h1{
  white-space: nowrap;
}
.Card{
  width: 350px;
  border: 1px solid white;
  padding: 30px;
  margin: 30px;
  text-align: center;
  border-radius: 15px;
  background: #403232;
  
}
.Card p{
  margin: 30px 0;
}
.Card button{
  color: black;
  border: 1px solid white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

}
.Card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius:50px ;
}